


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.accordian{
  background-color: white;
  padding: 4px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(255,160,255);
  cursor: pointer;
}

.question{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  margin-right:  16px; ;
}
.icon.active {
  transform: rotate(-180deg);
}
.answer{
  color: #666;
  max-height: 0px;
  overflow: hidden;
}

.answer.active{
  max-height: fit-content;
}